[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./Excarlibur.py

# Name of the bot in-game
name = Excarlibur

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Larront

# Short description of the bot
description = This bot was also pulled from somewhere unconventional.

# Fun fact about the bot
fun_fact = I like the pun of the name

# Programming language
language = Python
